{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}

	<section class="row articles">

		{% for item in articles %}
			{# item est une variable de réception : elle réceptionne un article par tour de boucle #}
			{# articles est le tableau envoyé depuis la méthode index() #}

				<article class="col-md-4 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1"> <h2>{{ item.title }}</h2>
				{# syntaxe twig : symfony accède à la propriété title via son getter #}
				<div class="metadata">Ecrit le
					{{ item.createdAt|date('d/m/Y à H:i:s') }}
					dans la catégorie Politique</div>
				{# date() est un filtre twig : il permet de convertir un objet DateTime en une chaine de caractères #}
				<div class="content">
					<img src="{{ item.image }}" alt="">
					{{ item.content|raw }}
					{# raw est un filtre twig qui permet d'interpréter les balises html #}
					<a href="{{ path('blog_show', {id: item.id}) }}" class="btn btn-primary">Lire la suite</a>

					{# path() permet de générer un lien vers une page #}
					{# le 1er arg est le nom de la route (name=xxx) #}
				</div>
			</article>
		{% endfor %}
	</section>

{% endblock %}
